#preloader{
    display: none;
}
#loader{
    position: absolute;
    margin: auto;  
    /* border: 2px solid red; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height:600px;
}
#loader img{
    width: 600px;
     
}